{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-var": "error",
    "semi": "error",
    "@typescript-eslint/consistent-type-definitions": [
      "error",
      "interface"
    ]
  }
}